name: CosmoBase AI BOT

on:
  schedule:
    - cron: '*/10 * * * *'   # 10分ごと起動
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest

    timeout-minutes: 9

    steps:

      - uses: actions/checkout@v4

      - name: Node.js setup
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install packages
        run: npm install

      - name: Run BOT
        run: node index.js
        env:
          DISCORD_TOKEN: ${{ secrets.DISCORD_TOKEN }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          QUESTION_CHANNEL_ID: ${{ secrets.QUESTION_CHANNEL_ID }}
          AI_REPLIED_TAG_ID: ${{ secrets.AI_REPLIED_TAG_ID }}
          HUMAN_REPLIED_TAG_ID: ${{ secrets.HUMAN_REPLIED_TAG_ID }}
